<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erro Interno do Servidor</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body class="bg-light">
    <div class="container py-5 text-center">
        <h1 class="display-4 text-danger">Erro 500 - Erro Interno do Servidor</h1>
        <p class="lead">Ocorreu um erro inesperado.<br>Tente novamente mais tarde ou entre em contato com o suporte.</p>
        <a href="/" class="btn btn-primary mt-4">Voltar para a Home</a>
    </div>
</body>
</html>
