<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Escolha sua Bebida</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<!-- INCLUSÃO DA NAVBAR -->
<div th:replace="~{fragments :: navbar}"></div>

<div class="container py-5">
    <div class="text-center mb-5">
        <div class="page-title-container">
            <h1 class="display-4">Bebidas</h1>
            <p class="lead mb-0">Para acompanhar seu pedido!</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" th:each="produto : ${produtos}">
            <div class="card h-100 shadow-sm">
                <img th:src="@{/produtos/{id}/imagem(id=${produto.id})}" class="card-img-top" alt="Imagem" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${produto.nome}">Nome da Bebida</h5>
                    <p class="card-text" th:text="${produto.descricao}">Descrição.</p>
                    <h4 class="text-end text-success" th:text="|R$ ${{ #numbers.formatDecimal(produto.preco, 1, 'COMMA', 2, 'POINT') }}|">R$ 5,00</h4>
                </div>
                <div class="card-footer bg-transparent border-0 text-center pb-3">
                     <form th:action="@{/carrinho/adicionar}" method="post">
                        <input type="hidden" name="produtoId" th:value="${produto.id}" />
                        <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- INCLUSÃO DO CARRINHO FLUTUANTE -->
<div th:replace="~{fragments :: carrinho-flutuante}"></div>
    
</body>
</html>